<div ng-app="myApp">
  <div class="headerBar"></div>
  <div class="formContainer" id='createSession'>
    <h1 class="subhead">Profile</h1>
    <div>Name: {{username}}</div>
    <div>Email: {{email}}</div>
    <div>Member Since: {{age | date:'longDate' }}</div>
    <br>
    <h1 class="subhead">Teaching</h1>
    <div class="sessionContainer">
      <ul class="session" ng-class="session-{{session.category}}" ng-repeat="session in sessions | filter:filterBox | filter:sessionFilter | filter:filterOptions | orderBy:'startTime'">
        <img ng-show="session.image!=NULL" class="photo" src="{{session.image}}" width="350px" height="200px">
        <img ng-show="session.image==NULL" class="photo" src="images/{{session.category}}.jpg">
        <div class="sessionDetails">
          <li class="topic content">{{session.topic}}</li>
          <li class="description content">{{session.description}}</li>
          <li class="category content"><span class="bold">Category: </span>{{session.category}}</li>
          <li class="tutor content"><span class="bold">Tutor: </span>{{session.User.username}}</li>
          <select class="session-dates" ng-model="sessionDate">
            <option value="">Select Date</option>
            <option ng-repeat="date in session.Calendars" value={{date.day}}>{{date.day | date:'longDate'}} @ {{displayTime(date.time)}}</option>
          </select>
        </div>
        <li class="registration"><button class="button" ng-click="delete(session)">Delete</button></li>
      </ul>
    </div>
    <h1 class="subhead">Learning</h1>
    <div class="sessionContainer">
      <ul class="session" ng-class="session-{{session.category}}" ng-repeat="session in registered | filter:filterBox | filter:sessionFilter | filter:filterOptions | orderBy:'startTime'">
        <img ng-show="session.image!=NULL" class="photo" src="{{session.image}}" width="350px" height="200px">
        <img ng-show="session.image==NULL" class="photo" src="images/{{session.category}}.jpg">
        <div class="sessionDetails">
          <li class="topic content">{{session.topic}}</li>
          <li class="description content">{{session.description}}</li>
          <li class="category content"><span class="bold">Category: </span>{{session.category}}</li>
          <li class="tutor content"><span class="bold">Tutor: </span>{{session.tutor}}</li>
          <li class="tutor content"><span class="bold">Date: </span>{{session.date | date:"longDate"}}</li>
          <li class="tutor content"><span class="bold">Vide Chat: <a href="{{session.link}}" target="_blank">Click Here</a> </span></li>
        </div>
      </ul>
    </div>
  </div>
</div>