<div ng-app="myApp">
  <div class="headerBar"></div>

  <div class="formContainer" id='createSession'>

    <h1 class="subhead">Profile</h1>

    <div>Name: {{username}}</div>
    <div>Email: {{email}}</div>
    <div>Member Since: {{age | date:'longDate' }}</div>
    <div ng-show="averageRating">Rating: {{averageRating}} out of 5 stars</div>
    <br>

    <button class="tutor content" ng-click="deleteAccount(); signout()"><span class="bold">Delete Account</span></button>

    <br>

<!-- ***TEACHING*** -->
  <div class="teaching-container">

    <h1 class="subhead" ng-show="sessions.length">Teaching</h1>

    <div class="sessionContainer" ng-show="sessions.length">

      <ul class="session" ng-class="session-{{sessions[i].category}}">

        <img ng-show="sessions[i].image!=NULL" class="photo" src="{{sessions[i].image}}" width="350px" height="200px">

        <img ng-show="sessions[i].image==NULL" class="photo" src="images/{{sessions[i].category}}.jpg">

        <div class="sessionDetails">

          <li class="topic content">{{sessions[i].topic}}</li>
          <li class="description content">{{sessions[i].description}}</li>

          <li class="category content">

            <span class="bold">Category: </span>{{sessions[i].category}}

          </li>

          <li class="tutor content">

            <span class="bold">Tutor: </span>{{sessions[i].User.username}}

          </li>
          <md-input-container>
          <label>Dates</label>
          <md-select class="session-dates" ng-model="sessionDate">

            <md-option ng-repeat="date in sessions[i].Calendars" value={{date.day}}>{{date.day | date:'longDate'}} @ {{displayTime(date.time)}}</md-option>

          </md-select>
          </md-input-container>
        </div>

        <md-button ng-click="delete(sessions[i])">Delete</md-button>
        <md-button ng-click="edit(sessions[i])">Edit</md-button>

      </ul>

    </div>
    <div class="card-buttons" ng-show="sessions.length">
      <md-button class="md-raised" type="button" ng-click="prevCard()">Previous</md-button>
      <md-button class="md-raised" type="button" ng-click="nextCard()">Next</md-button>
    </div>
  </div>

<!-- ***LEARNING*** -->
<div class="teaching-container" ng-show="registered.length">

    <h1 class="subhead" ng-show="registered.length">Learning</h1>

    <div class="sessionContainer">

      <ul class="session" ng-class="session-{{registered[j].category}}">

        <img ng-show="registered[j].image!=NULL" class="photo" src="{{registered[j].image}}" width="350px" height="200px">

        <img ng-show="registered[j].image==NULL" class="photo" src="images/{{registered[j].category}}.jpg">

        <div class="sessionDetails">

          <li class="topic content">{{registered[j].topic}}</li>

          <li class="description content">{{registered[j].description}}</li>

          <li class="category content"><span class="bold">Category: </span>{{registered[j].category}}</li>

          <li class="tutor content"><span class="bold">Tutor: </span>{{registered[j].tutor}}</li>

          <!-- <li class="tutor content" ng-hide="reviewSubmitted">Rate your tutor</li> -->
            <md-input-container ng-hide="reviewSubmitted">
            <!-- <label>Rating</label> -->
              <md-select ng-model="review.rating">
                <md-option value="1">*</md-option>
                <md-option value="2">**</md-option>
                <md-option value="3">***</md-option>
                <md-option value="4">****</md-option>
                <md-option value="5">*****</md-option>
              </md-select>
              <md-button ng-click="submitReview(registered[j].tutorId); reviewSubmitted=true">Rate Your Tutor</md-button>
              </md-input-container>

          </li>

          <li class="tutor content" ng-show="reviewSubmitted">Review submitted</li>
          <li class="tutor content" ng-show="reviewSubmitted">Thanks for your feedback!</li>

          <li class="tutor content"><span class="bold">Date: </span>{{registered[j].date | date:'MM/dd/yyyy @ h:mma'}}</li>

          <li class="tutor content"><span class="bold">Class Link: <a href="{{registered[j].link}}" target="_blank">Click Here</a> </span></li>

        </div>
      </ul>
    </div>

    <div class="card-buttons" ng-show="registered.length">
      <md-button class="md-raised" type="button" ng-click="prevLearnCard()">Previous</md-button>
      <md-button class="md-raised" type="button" ng-click="nextLearnCard()">Next</md-button>
    </div>
 </div>
  </div>
</div>